In [65]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [66]:
data = pd.read_csv('UFO.csv')

In [67]:
newdata = pd.read_csv('NewUFO.csv')

In [68]:
data.head(1)

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,23:00,12/19/21,Branford,CT,Circle,NaN,See craft every evening when I get out of work...,12/19/21

In [69]:
newdata.head(1)

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,23:47,5/11/11,Bighorn (Municipal district) (Canada),AB,Circle,5 min,Bright oval shaped light.,5/12/11

In [70]:
data = data.append(newdata, ignore_index=True)

/var/folders/xl/vjx4kjvn0jdg2g8_p_4nfq9c0000gn/T/ipykernel_24560/155435407.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(newdata, ignore_index=True)

In [71]:

data.set_axis(["NA",'Time', 'Date', 'City', 'State', 'Shape', 'Duration', 'Summary', 'Posted'], axis=1, inplace=True)

In [72]:
data.drop(['NA','Posted'],axis=1, inplace=True)

In [73]:
data['Date'] = pd.to_datetime(data['Date'], errors='coerce')

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '22.06.2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)

In [74]:
data['Time'] = pd.to_datetime(data['Time'],errors='coerce').dt.hour

In [75]:
data.dropna(inplace=True)

In [76]:
data = data[data['Date'].dt.year<=2021]

In [77]:
data['Date'].sort_values(ascending=False).dt.year

1         2021
3         2021
2         2021
4         2021
5         2021
          ...
99723     1972
91527     1970
101261    1966
99874     1962
103618    1950
Name: Date, Length: 86091, dtype: int64

In [78]:
shape_vc = data.Shape.value_counts().index

In [79]:
shape_vc

Index(['Light', 'Circle', 'Triangle', 'Other', 'Unknown', 'Sphere', 'Fireball',
       'Disk', 'Oval', 'Formation', 'Changing', 'Cigar', 'Flash', 'Rectangle',
       'Cylinder', 'Diamond', 'Chevron', 'Teardrop', 'Egg', 'Cone', 'Cross',
       'light', 'other', 'triangle', 'circle', 'Delta', 'sphere', 'cylinder',
       'rectangle', 'cigar', 'Crescent', 'diamond', 'oval', 'fireball',
       'Round', 'CA', 'Summer', 'TRIANGULAR', 'unknown', 'delta', 'changed',
       'Jacksonville', 'OH', 'egg', 'flash', 'changing', 'Flare', 'Early',
       'Hexagon', 'pyramid'],
      dtype='object')

In [80]:
for elements in shape_vc:
    if elements[0].isupper() == True:
        lowered = elements.lower()
        data['Shape'] = data.Shape.apply(lambda x : elements if x.lower() == lowered else x)
data['Shape'] = data.Shape.apply(lambda x : 'Triangle' if x == 'TRIANGULAR' else x)
data['Shape'] = data.Shape.apply(lambda x : 'Changing' if x == 'changed' else x)

In [81]:
shape_vc = data.Shape.value_counts().index

In [82]:
shape_vc

Index(['Light', 'Circle', 'Triangle', 'Other', 'Unknown', 'Sphere', 'Fireball',
       'Disk', 'Oval', 'Formation', 'Changing', 'Cigar', 'Flash', 'Rectangle',
       'Cylinder', 'Diamond', 'Chevron', 'Teardrop', 'Egg', 'Cone', 'Cross',
       'Delta', 'Round', 'CA', 'Crescent', 'Flare', 'Hexagon', 'Jacksonville',
       'Summer', 'OH', 'Early', 'pyramid'],
      dtype='object')

In [92]:
for num, i in enumerate(data.State):
    if i not in states:
        data = data.drop([data.index[num]])

IndexError: index 78479 is out of bounds for axis 0 with size 78343

In [91]:
len(data.State.value_counts())

78

In [22]:
data.to_csv('UFO_cleaned.csv')

In [28]:
state = pd.DataFrame(data.value_counts('State'))

In [32]:
state.set_axis(['Count'], axis=1, inplace=True)

In [55]:
states = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']