In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
data = pd.read_csv('UFO.csv')

In [4]:
newdata = pd.read_csv('NewUFO.csv')

In [5]:
data.head(1)

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,23:00,12/19/21,Branford,CT,Circle,NaN,See craft every evening when I get out of work...,12/19/21

In [6]:
newdata.head(1)

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,23:47,5/11/11,Bighorn (Municipal district) (Canada),AB,Circle,5 min,Bright oval shaped light.,5/12/11

In [7]:
data = data.append(newdata, ignore_index=True)

/var/folders/xl/vjx4kjvn0jdg2g8_p_4nfq9c0000gn/T/ipykernel_24560/155435407.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(newdata, ignore_index=True)

In [8]:

data.set_axis(["NA",'Time', 'Date', 'City', 'State', 'Shape', 'Duration', 'Summary', 'Posted'], axis=1, inplace=True)

In [9]:
data.drop(['NA','Posted'],axis=1, inplace=True)

In [10]:
data['Date'] = pd.to_datetime(data['Date'], errors='coerce')

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '22.06.2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)

In [11]:
data['Time'] = pd.to_datetime(data['Time'],errors='coerce').dt.hour

In [12]:
data.dropna(inplace=True)

In [13]:
data = data[data['Date'].dt.year<=2021]

In [14]:
data['Date'].sort_values(ascending=False).dt.year

1         2021
3         2021
2         2021
4         2021
5         2021
          ...
99723     1972
91527     1970
101261    1966
99874     1962
103618    1950
Name: Date, Length: 86091, dtype: int64

In [15]:
shape_vc = data.Shape.value_counts().index

In [16]:
shape_vc

Index(['Light', 'Circle', 'Triangle', 'Other', 'Unknown', 'Sphere', 'Fireball',
       'Disk', 'Oval', 'Formation', 'Changing', 'Cigar', 'Flash', 'Rectangle',
       'Cylinder', 'Diamond', 'Chevron', 'Teardrop', 'Egg', 'Cone', 'Cross',
       'light', 'other', 'triangle', 'circle', 'Delta', 'sphere', 'cylinder',
       'rectangle', 'cigar', 'Crescent', 'diamond', 'oval', 'fireball',
       'Round', 'CA', 'Summer', 'TRIANGULAR', 'unknown', 'delta', 'changed',
       'Jacksonville', 'OH', 'egg', 'flash', 'changing', 'Flare', 'Early',
       'Hexagon', 'pyramid'],
      dtype='object')

In [17]:
for elements in shape_vc:
    if elements[0].isupper() == True:
        lowered = elements.lower()
        data['Shape'] = data.Shape.apply(lambda x : elements if x.lower() == lowered else x)
data['Shape'] = data.Shape.apply(lambda x : 'Triangle' if x == 'TRIANGULAR' else x)
data['Shape'] = data.Shape.apply(lambda x : 'Changing' if x == 'changed' else x)

In [18]:
shape_vc = data.Shape.value_counts().index

In [19]:
shape_vc

Index(['Light', 'Circle', 'Triangle', 'Other', 'Unknown', 'Sphere', 'Fireball',
       'Disk', 'Oval', 'Formation', 'Changing', 'Cigar', 'Flash', 'Rectangle',
       'Cylinder', 'Diamond', 'Chevron', 'Teardrop', 'Egg', 'Cone', 'Cross',
       'Delta', 'Round', 'CA', 'Crescent', 'Flare', 'Hexagon', 'Jacksonville',
       'Summer', 'OH', 'Early', 'pyramid'],
      dtype='object')

In [21]:
data

,Time,Date,City,State,Shape,Duration,Summary
1,0.0,2021-12-19,Deltona,FL,Changing,"1 minute, 9 seconds video",I was on Ring app in house and saw incredible ...
2,21.0,2021-12-18,Long Beach,CA,Triangle,3-5 seconds,3 Boomerang shaped craft flying in formation
3,0.0,2021-12-18,Charlotte,NC,Cigar,still active 12:35am,"flying stick, the ends of it brighter. Recorde..."
4,23.0,2021-12-17,Traver,CA,Oval,2 hours,((HOAX)) near the Foster farms feed mill in Tr...
5,22.0,2021-12-17,Butte,MT,Circle,15 minutes,Saw orb that moved around the moon and got pic...
...,...,...,...,...,...,...,...
103919,17.0,1978-12-20,Huntington Park,CA,Disk,20 min.,"My Father and I watched a silver object, shape..."
103920,3.0,1975-01-01,Jamestown,NY,Sphere,a few minutes,I was 13-15. I was in my parent house on Moon ...
103921,4.0,1973-08-01,Kittery,ME,Formation,10 Seconds,A VERY fast light point object that was viewed...
103922,2.0,1973-07-24,Blackfoot,ID,Triangle,Approx. 4 minutes,"Smooth, rounded triangular object, stone grey,..."
103923,19.0,1972-07-01,Provo (south of),UT,Disk,20-30 min.,"1972,Utah-small bright cloud,I'm driving south..."

In [22]:
data.to_csv('UFO_cleaned.csv')